{% load static %}

<footer class="section">
    <div class="logo">
      <img src="{% static 'assets/images/big-log.png' %}" alt="" />
    </div>
    <div class="footer_line"></div>
    <div class="footer_links">
      <div class="footer_link_block">
        <img src="{% static 'assets/icon/logo.svg' %}" alt="" />
      </div>
      <div class="footer_link_block">
        <h3 class="footer_title">Shop</h3>
        <a href="#" class="footer_desc">Transparency Thin Film Screen</a>
      </div>
      <div class="footer_link_block">
        <h3 class="footer_title">Company</h3>
        <a href="#" class="footer_desc">Terms of service</a>
        <a href="#" class="footer_desc">Policies</a>
      </div>
      <div class="footer_link_block">
        <h3 class="footer_title">Support</h3>
        <a href="#" class="footer_desc">Track your order</a>
        <a href="#" class="footer_desc">Contact us</a>
        <a href="#" class="footer_desc">FAQs</a>
      </div>
    </div>
    <div class="social_footer">
      <div class="social_block">
        <form action="">
          <label class="social_title" for="footer_email">Subscribe to our emails</label>
          <input type="email" placeholder="Email" name="" id="footer_email" />
        </form>
      </div>
      <div class="social_block">
        <img src="{% static 'assets/icon/social_footer.svg' %}" alt="" />
        <img src="{% static 'assets/icon/social_footer2.svg' %}" alt="" />
        <img src="{% static 'assets/icon/social_footer3.svg' %}" alt="" />
      </div>
    </div>
  </footer>