{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crystal</title>
    <link rel="stylesheet" href="{% static 'assets/css/plugins/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/index_p.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/components/components.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/include/include.css' %}" />
 
  </head>


  {% block content %}

  {% endblock %}

  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/product.js' %}"></script>

